@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter';
}

/** CONFIGURACION DE COMPONENTES GENERALES */
.boton {
  display: flex;
  background-color: transparent;
  padding: 9px 20px; 
  border-radius: 50px; 
  border: 2px solid;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.contenedor {
  height: 100%;
  width: 1200px;
  align-items: center;
}

.contenedor-menu {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px; 
}

.menu-item {
  list-style: none;
  margin: auto 18px; 
}

.columna {
  width: 50%;
}

.texto {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin: 20px 0px;
}

/** CONFIGURACION DEL HEADER */
.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
  background-color: white;
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0; 
  z-index: 1px;
}

.contenedor-header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.logo-social {
  margin: auto;
  width: 14px;
  height: 14px;
}

/** COFIGURACION DE LA PRESETACION*/
.presentacion {
  display: flex;
  width: 100vw;
  height: 340px;
  justify-content: center;
  margin-top: 80px;
}

.contenedor-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundacion {
  width: 580px;
  font-size: 28px;
  color: #211b25;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 30px;
}

span {
  display: flex;
  align-content: center;
}

.icon{
  width: 10px;
  margin-left: 10px;
}

/** CONFIGURACION DE IMPACTO */
/** COLUMNA TEXTO */
.impacto {
    display: flex;
    justify-content: center;
    background-color: #211b25; 
    color: #ffffff;
    height: 400px;
}

.contenedor-impacto {
  display: flex;
  justify-content: center;
  padding: 120px 30px 100px 0px;
  width: 850px;
}

.columna-impacto {
  padding-right: 50px;
}

.impacto-titulo {
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
  letter-spacing: -0.4;
}

.impacto-parrafo {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/** COLUMNA NUMEROS */
.fila-numeros {
  display: flex;
  justify-content: space-around;
}

.contenedor-numero {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
}

.caja-numero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signo {
  font-size: 30px;
  color: #6b53ef;
}

.numero {
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}

.descripcion-numero {
  font-size: 14px;
  margin: auto;
}

/** CONFIGURACION DE IMAGEN */
.imagen {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 90vh;
}

.fondo {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('assets/twp-home.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-position: 5  %;
  z-index: -3;
}

/** CONFIGURACION DE PROGRAMAS */
.programas {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.programas-titulo {
  display: block;
  width: 100%;
  font-size: 30px;
  margin: 25px auto;
}

.contenedor-programas{
  display: flex;
  flex-direction: column;
}
  
.programa-fila {
  display: flex;
  align-items: center;
  margin: 12px auto; 
}

.programa-imagen {
  padding-right: 20px;
  border-radius: 0px 60px 60px 60px;
}

.programa-texto {
  margin: auto 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.programa-logo {
  height: 43px
}

.segunda-fila {
  flex-direction: row-reverse;
}

.imagen-segunda-fila {
  border-radius: 60px 60px 0px 60px;
}

/** CONFIGURACION DE EQUIPOS */
.equipo {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding-top: 60px;
}

.contenedor-equipo {
  width: 1250px;
}

.contenedor-tarjeta {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.equipo-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 310px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.tarjeta {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 0px;
  overflow: hidden;
}

.tarjeta-imagen {
  height: 60%;
  background-position: top;
  background-size: cover;
}

.tarjeta-texto {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
  height: 40%;
  justify-content: center;
  align-items: center;
}

.tarjeta-nombre {
  font-size: 18px;
  letter-spacing: -0.4;
  font-weight: 600;
}

.tarjeta-cargo {
  font-size: 14px;
  color: ##9b9fa8;
}

.circulo{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 23px;
  width: 23px;
  border: solid 2px black;
  border-radius: 50%;
  margin-top: 15px;
}

.logo-tarjeta {
  height: 12px;
  width: 12px;
  margin: auto;
}

/** CONFIGURACION DE ALIANZA */
.alianzas {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.alianzas-carrusel {
  width: inherit;
  height: 100px; 
  margin: 25px auto; 
}

.lista-carrusel{
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  
}  

.lista-item {
  height: 100%;
  width: 229px;
  list-style: none;
}

/** CONFIGURACION DE FOOTER */
.footer {
  display: flex;
  justify-content: center;
  background-color: #211b25;
  color: white;
  padding: 60px 0px; 
}

.columna-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px; 
  width: fill;
}

.columna-logo {
  display: flex;
  height: 100%;
  padding-right: 10px;
  justify-content: start;
}


.logo-footer {
  height: 51px;
  margin-left: 0px;
  color:#d9d9d9 
}

.contenedor-footer {
  display: flex;
  flex-direction: row;
}

.texto-footer {
  width: 250px;
  font-size: 12px;
  margin: auto 50px;
}

.link-footer {
  display: flex;
  flex-direction: column;
  width: 175px;
  font-size: 14px;
}

.enlace {
  display: flex;
  color: #d9d9d9;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  margin: 2px;
}

.logo-social-footer {
  height: 16px;
  filter: invert();
  margin: auto 5px;
}